@import url('https://fonts.googleapis.com/css?family=Russo+One');
body {
    background-color: rgb(35,35,35);
    font-family: 'Russo One', sans-serif;
}
h1 {
    color: white;
}
#lienzo {
	background-color: rgb(55,55,55);
    border: 1px solid rgb(40,40,40);
}
