@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
#hty {
    background-color: #1976D2;
    background-image:linear-gradient(to right, #00c6ff, #0072ff);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%
}
body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
}
h1, h2 {
    color: white;
}
p, .p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.titulo {
    padding: 0;
    text-align: center;
    font-size: 70px;
    color: white;
}
.titulo span::after {
    padding: 0;
}
.container {
    /* padding: 1em; */
}
.corregir {
    margin: 0;
}
.button {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: lighter;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(55,55,55, 0.2);
    border: none;
    color: white;
    cursor: pointer;
}
.button:hover {
    background-color: rgba(55,55,55, 0.6);
}
.red-button {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: lighter;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(244, 67, 54, .6);
    border: none;
    color: white;
    cursor: pointer;
}
.red-button:hover {
    background-color: rgba(244, 67, 54, 1);
}
.stats {
    font-family: 'Press Start 2P', cursive;
}
.key {
    padding: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-weight: lighter;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(55,55,55, 0.2);
    color: white;
}
.titulo, #title, h1, h2, .button, .red-button {
    text-shadow: 1px 1px 1px black;
}

#btn_final {
    display: none;
}
#lienzo {
	background-color: rgba(55,55,55, .3);
}
#mobile_controls {
    margin-top: 1em;
}
#game, #mobile_controls {
    display:  none;
}
#how_to {
    color: black;
    border-bottom:3px solid white;
    cursor: pointer;
}
#how_to:hover {
    border-bottom:3px solid black;
}
#how_to_desc {
    display: none;
}
