@import url('https://fonts.googleapis.com/css?family=Russo+One');
body {
    background-color: rgb(35,35,35);
    font-family: 'Russo One', sans-serif;
}
h1 {
    color: white;
}
#lienzo {
    border: 1px solid white;
}
